In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('../../데이터/merge.csv')

In [12]:
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,국고채금리,콜금리
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200603,10,"59,500",7,1988.0,언주로 103,4.93,3.97
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200603,29,"60,000",6,1988.0,언주로 103,4.93,3.97
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200604,29,"67,000",9,1988.0,언주로 103,4.95,3.97
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988.0,언주로 103,4.89,4.17
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200610,20,"72,250",5,1988.0,언주로 103,4.62,4.48

In [13]:
def del_bracket(x):
    if '(' in x:
        return x[:x.find('(')]
    return x

In [14]:
df['단지명'] = df['단지명'].apply(del_bracket)
df['계약일자'] = df['계약년월'] + df['계약일']
df['평수'] = df['전용면적(㎡)'].apply(lambda x : x // 3.3058)

In [15]:
df = df[['시군구','본번','단지명','평수','계약일자','거래금액(만원)','국고채금리','콜금리']]

In [16]:
df.to_csv('../../데이터/merge2.csv')